In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [2]:
dataset=pd.read_csv('Pre_processdata.csv')

In [3]:
dataset1=dataset.drop('date',1)

In [4]:
dataset1

,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,3.17,2.95,0.00,0.0,73.21,100.00,900,Weekday,Monday,Light_Load
1,4.00,4.46,0.00,0.0,66.77,100.00,1800,Weekday,Monday,Light_Load
2,3.24,3.28,0.00,0.0,70.28,100.00,2700,Weekday,Monday,Light_Load
3,3.31,3.56,0.00,0.0,68.09,100.00,3600,Weekday,Monday,Light_Load
4,3.82,4.50,0.00,0.0,64.72,100.00,4500,Weekday,Monday,Light_Load
...,...,...,...,...,...,...,...,...,...,...
35035,3.85,4.86,0.00,0.0,62.10,100.00,82800,Weekday,Monday,Light_Load
35036,3.74,3.74,0.00,0.0,70.71,100.00,83700,Weekday,Monday,Light_Load
35037,3.78,3.17,0.07,0.0,76.62,99.98,84600,Weekday,Monday,Light_Load
35038,3.78,3.06,0.11,0.0,77.72,99.96,85500,Weekday,Monday,Light_Load
35039,3.67,3.02,0.07,0.0,77.22,99.98,0,Weekday,Monday,Light_Load

In [5]:
datas=pd.get_dummies(dataset1,drop_first=True)

In [6]:
datas

,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus_Weekend,Day_of_week_Monday,Day_of_week_Saturday,Day_of_week_Sunday,Day_of_week_Thursday,Day_of_week_Tuesday,Day_of_week_Wednesday,Load_Type_Maximum_Load,Load_Type_Medium_Load
0,3.17,2.95,0.00,0.0,73.21,100.00,900,0,1,0,0,0,0,0,0,0
1,4.00,4.46,0.00,0.0,66.77,100.00,1800,0,1,0,0,0,0,0,0,0
2,3.24,3.28,0.00,0.0,70.28,100.00,2700,0,1,0,0,0,0,0,0,0
3,3.31,3.56,0.00,0.0,68.09,100.00,3600,0,1,0,0,0,0,0,0,0
4,3.82,4.50,0.00,0.0,64.72,100.00,4500,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,3.85,4.86,0.00,0.0,62.10,100.00,82800,0,1,0,0,0,0,0,0,0
35036,3.74,3.74,0.00,0.0,70.71,100.00,83700,0,1,0,0,0,0,0,0,0
35037,3.78,3.17,0.07,0.0,76.62,99.98,84600,0,1,0,0,0,0,0,0,0
35038,3.78,3.06,0.11,0.0,77.72,99.96,85500,0,1,0,0,0,0,0,0,0
35039,3.67,3.02,0.07,0.0,77.22,99.98,0,0,1,0,0,0,0,0,0,0

In [7]:
datas.columns

Index(['Usage_kWh', 'Lagging_Current_Reactive.Power_kVarh',
       'Leading_Current_Reactive_Power_kVarh', 'CO2(tCO2)',
       'Lagging_Current_Power_Factor', 'Leading_Current_Power_Factor', 'NSM',
       'WeekStatus_Weekend', 'Day_of_week_Monday', 'Day_of_week_Saturday',
       'Day_of_week_Sunday', 'Day_of_week_Thursday', 'Day_of_week_Tuesday',
       'Day_of_week_Wednesday', 'Load_Type_Maximum_Load',
       'Load_Type_Medium_Load'],
      dtype='object')

In [8]:
ind=datas.drop('Usage_kWh',1)
dep=datas['Usage_kWh'].astype(int)

In [9]:
ind

,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus_Weekend,Day_of_week_Monday,Day_of_week_Saturday,Day_of_week_Sunday,Day_of_week_Thursday,Day_of_week_Tuesday,Day_of_week_Wednesday,Load_Type_Maximum_Load,Load_Type_Medium_Load
0,2.95,0.00,0.0,73.21,100.00,900,0,1,0,0,0,0,0,0,0
1,4.46,0.00,0.0,66.77,100.00,1800,0,1,0,0,0,0,0,0,0
2,3.28,0.00,0.0,70.28,100.00,2700,0,1,0,0,0,0,0,0,0
3,3.56,0.00,0.0,68.09,100.00,3600,0,1,0,0,0,0,0,0,0
4,4.50,0.00,0.0,64.72,100.00,4500,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,4.86,0.00,0.0,62.10,100.00,82800,0,1,0,0,0,0,0,0,0
35036,3.74,0.00,0.0,70.71,100.00,83700,0,1,0,0,0,0,0,0,0
35037,3.17,0.07,0.0,76.62,99.98,84600,0,1,0,0,0,0,0,0,0
35038,3.06,0.11,0.0,77.72,99.96,85500,0,1,0,0,0,0,0,0,0
35039,3.02,0.07,0.0,77.22,99.98,0,0,1,0,0,0,0,0,0,0

In [10]:
def select_k(ind,dep,n):
    selection=SelectKBest(score_func=chi2,k=n)
    fit_select=selection.fit(ind,dep)
    select_feature=fit_select.transform(ind)
    return select_feature

In [11]:
def split_scaler(ind,dep):
    X_train, X_test, y_train, y_test = train_test_split(ind, dep, test_size = 0.25, random_state = 0)
    sc=StandardScaler()
    X_train = sc.fit_transform(X_train)
    X_test = sc.transform(X_test) 
    return X_train, X_test, y_train, y_test

In [12]:
def r2score(regressor,X_test,y_test):
    y_pred=regressor.predict(X_test)
    from sklearn.metrics import r2_score
    r2=r2_score(y_test,y_pred)
    return r2

In [13]:
def linear(X_train,y_train,X_test):       
        from sklearn.linear_model import LinearRegression
        regressor = LinearRegression()
        regressor.fit(X_train, y_train)
        r2=r2score(regressor,X_test,y_test)
        return  r2

In [14]:
def random(X_train,y_train,X_test):
    from sklearn.ensemble import RandomForestRegressor
    RandomForestRegressor(n_estimators = 10, random_state = 0)
    regressor.fit(X_train,y_train)
    r2=r2score(regressor,X_test,y_test)
    return r2

In [15]:
def decision(X_train,y_train,X_test):
    from sklearn.tree import DecisionTreeRegressor
    regressor = DecisionTreeRegressor(random_state = 0)
    regressor.fit(X_train,y_train)
    r2=r2score(regressor,X_test,y_test)
    return r2

In [16]:
def tables(r2lin,r2ran,r2deci):
    table=pd.DataFrame(index=['chi2_square'],columns=['r2lin','r2ran','r2deci'])
    for number,i in enumerate(table.index):
        table['r2lin'][i]=r2lin[number]
        table['r2ran'][i]=r2ran[number]
        table['r2deci'][i]=r2deci[number]
    return table

In [62]:
kbest=select_k(ind,dep,7)

In [63]:
X_train,X_test,y_train,y_test=split_scaler(kbest,dep)

In [64]:
r2lin=[]
r2ran=[]
r2deci=[]

In [65]:
X_train,X_test,y_train,y_test=split_scaler(kbest,dep)
r2_lin=linear(X_train,y_train,X_test)
r2lin.append(r2_lin)
r2_ran=linear(X_train,y_train,X_test)
r2ran.append(r2_ran)
r2_deci=linear(X_train,y_train,X_test)
r2deci.append(r2_deci)

In [60]:
result=tables(r2lin,r2ran,r2deci)

In [61]:
result
#2

                r2lin     r2ran    r2deci
chi2_square  0.834505  0.834505  0.834505

In [32]:
result
#4

                r2lin     r2ran    r2deci
chi2_square  0.834505  0.834505  0.834505

In [66]:
result
#7

                r2lin     r2ran    r2deci
chi2_square  0.834505  0.834505  0.834505

In [49]:
result
#8

                r2lin     r2ran    r2deci
chi2_square  0.915781  0.915781  0.915781

In [43]:
result
#10

                r2lin     r2ran    r2deci
chi2_square  0.916208  0.916208  0.916208