In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [2]:
dataset=pd.read_csv('Pre_processdata.csv')

In [3]:
dataset

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,1,14.0,5.4,0,0,1,0,Female
2,1,11.8,6.3,1,1,1,1,Male
3,1,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [4]:
datas=pd.get_dummies(dataset,drop_first=True)

In [5]:
datas

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender_Male
0,1,11.8,6.1,1,0,1,1,1
1,1,14.0,5.4,0,0,1,0,0
2,1,11.8,6.3,1,1,1,1,1
3,1,14.4,6.1,0,1,1,1,1
4,1,13.5,5.9,0,0,0,0,0
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,0
4997,1,11.9,5.4,0,0,0,0,0
4998,1,12.9,5.7,0,0,0,0,0
4999,1,13.2,6.2,0,0,0,0,0
5000,1,15.4,5.4,1,1,1,1,1

In [6]:
datas.columns

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender_Male'],
      dtype='object')

In [7]:
ind=datas.drop('gender_Male',1)
dep=datas['gender_Male']

In [8]:
ind

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,1,14.0,5.4,0,0,1,0
2,1,11.8,6.3,1,1,1,1
3,1,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0
...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0
4997,1,11.9,5.4,0,0,0,0
4998,1,12.9,5.7,0,0,0,0
4999,1,13.2,6.2,0,0,0,0
5000,1,15.4,5.4,1,1,1,1

In [9]:
dep

0       1
1       0
2       1
3       1
4       0
       ..
4996    0
4997    0
4998    0
4999    0
5000    1
Name: gender_Male, Length: 5001, dtype: uint8

In [10]:
def select_k(ind,dep,n):
    selection=SelectKBest(score_func=chi2,k=n)
    fit_select=selection.fit(ind,dep)
    select_feature=fit_select.transform(ind)
    return select_feature

In [11]:
def split_scaler(ind,dep):
    X_train, X_test, y_train, y_test = train_test_split(ind, dep, test_size = 0.25, random_state = 0)
   
    return X_train, X_test, y_train, y_test

In [12]:
def accuracy_pred(classifier,X_test):
    y_pred=classifier.predict(X_test)
    from sklearn.metrics import confusion_matrix
    cm=confusion_matrix(y_test,y_pred)
    from sklearn.metrics import classification_report
    clf=classification_report(y_test,y_pred)
    from sklearn.metrics import accuracy_score
    accuracy=accuracy_score(y_test,y_pred)
    return classifier,X_test,y_test,cm,clf,accuracy

In [13]:
def random(X_train,y_train,X_test):
    from sklearn.ensemble import RandomForestClassifier
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 1)
    classifier.fit(X_train,y_train)
    classifier,X_test,y_test,cm,clf,accuracy=accuracy_pred(classifier,X_test)
    return classifier,X_test,y_test,cm,clf,accuracy

In [14]:
kbest=select_k(ind,dep,4)

In [15]:
X_train, X_test, y_train, y_test=split_scaler(kbest,dep)

In [16]:
accran=[]
classifier,X_test,y_test,cm,clf,accuracy=random(X_train,y_train,X_test)
accran.append(accuracy)

C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):
C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [17]:
result=accran

In [18]:
result
#2

[0.9592326139088729]

In [19]:
result
#4

[0.9592326139088729]

In [20]:
result
#5

[0.9592326139088729]

In [21]:
def Feature_selection(ind,dep,n):
    selection=SelectKBest(score_func=chi2,k=n)
    fit_select=selection.fit(ind,dep)
    
    names=fit_select.get_support(indices=True)
    column=datas.columns[names]
    return column

In [22]:
column=Feature_selection(ind,dep,4)

In [23]:
column

Index(['nose_wide', 'nose_long', 'lips_thin', 'distance_nose_to_lip_long'], dtype='object')

In [24]:
result2=classifier.predict([[0,1,1,0]])

C:\Users\Priya\Anaconda3\envs\aiml\lib\site-packages\sklearn\utils\fixes.py:230: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  if _joblib.__version__ >= LooseVersion('0.12'):

In [25]:
import pickle
filename='Random_forest_finalmodel.sav'
pickle.dump(classifier,open(filename,'wb'))

In [26]:
loaded_model=pickle.load(open('Random_forest_finalmodel.sav','rb'))

result2

array([0], dtype=uint8)