In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Pre_processdata.csv")

In [3]:
dataset

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,1,14.0,5.4,0,0,1,0,Female
2,1,11.8,6.3,1,1,1,1,Male
3,1,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female
...,...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0,Female
4997,1,11.9,5.4,0,0,0,0,Female
4998,1,12.9,5.7,0,0,0,0,Female
4999,1,13.2,6.2,0,0,0,0,Female
5000,1,15.4,5.4,1,1,1,1,Male

In [4]:
dataset.columns

Index(['long_hair', 'forehead_width_cm', 'forehead_height_cm', 'nose_wide',
       'nose_long', 'lips_thin', 'distance_nose_to_lip_long', 'gender'],
      dtype='object')

In [5]:
class univarient():
    def qualquan():
        qual=[]
        quan=[]
        for columnName in dataset.columns:
            if dataset[columnName].dtype=='O':
                qual.append(columnName)
            else:
                quan.append(columnName)
        return qual,quan

In [13]:
qual,quan=univarient.qualquan()

In [14]:
quan

['long_hair',
 'forehead_width_cm',
 'forehead_height_cm',
 'nose_wide',
 'nose_long',
 'lips_thin',
 'distance_nose_to_lip_long']

In [17]:
table=pd.DataFrame(index=['Mean','Median','Mode'],columns=quan)
for columnName in quan:
    table[columnName]["Mean"]=dataset[columnName].mean()
    table[columnName]["Median"]=dataset[columnName].median()
    table[columnName]["Mode"]=dataset[columnName].mode()[0]

In [18]:
table

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
Mean,1,13.1815,5.94631,0.493901,0.507898,0.493101,0.4989
Median,1,13.1,5.9,0,1,0,0
Mode,1,12,5.7,0,1,0,0

# Frenquncy

In [19]:
freqn_table=pd.DataFrame(columns=['Unique_values','Frequency','Relation_freq','Cumsum'])

In [20]:
freqn_table

Empty DataFrame
Columns: [Unique_values, Frequency, Relation_freq, Cumsum]
Index: []

In [22]:
freqn_table['Unique_values']=dataset['nose_wide'].value_counts().index
freqn_table['Frequency']=dataset['nose_wide'].value_counts().values
freqn_table['Relation_freq']=freqn_table['Frequency']/103
freqn_table['Cumsum']=freqn_table['Relation_freq'].cumsum()

In [23]:
freqn_table

   Unique_values  Frequency  Relation_freq     Cumsum
0              0       2531      24.572816  24.572816
1              1       2470      23.980583  48.553398

In [24]:
def frequency(columnName,dataset):
    freqn_table=pd.DataFrame(columns=['Unique_values','Frequency','Relation_freq','Cumsum'])
    freqn_table['Unique_values']=dataset[columnName].value_counts().index
    freqn_table['Frequency']=dataset[columnName].value_counts().values
    freqn_table['Relation_freq']=freqn_table['Frequency']/103
    freqn_table['Cumsum']=freqn_table['Relation_freq'].cumsum()
    return freqn_table

In [26]:
frequency('nose_wide',dataset)

   Unique_values  Frequency  Relation_freq     Cumsum
0              0       2531      24.572816  24.572816
1              1       2470      23.980583  48.553398

# Histogram, Skewness, Kurtosis

In [32]:
table=pd.DataFrame(index=['Mean','Median','Mode','Skew','Kurtosis'],columns=quan)
for columnName in quan:
    table[columnName]['Mean']=dataset[columnName].mean()
    table[columnName]['Median']=dataset[columnName].median()
    table[columnName]['Mode']=dataset[columnName].mode()[0]
    table[columnName]['Skew']=dataset[columnName].skew()
    table[columnName]['Kurtosis']=dataset[columnName].kurtosis()

In [33]:
table

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
Mean,1,13.1815,5.94631,0.493901,0.507898,0.493101,0.4989
Median,1,13.1,5.9,0,1,0,0
Mode,1,12,5.7,0,1,0,0
Skew,0,0.242242,0.250739,0.0244043,-0.0316071,0.0276054,0.00440045
Kurtosis,0,-0.930596,-0.848889,-2.0002,-1.9998,-2.00004,-2.00078